<template name="Room">
    {{#each clips}}
        <pre>
            <code class="{{type}}">
{{content}}
            </code>
        </pre>
    {{else}}
        <h1>Room is empty</h1>
    {{/each}}
    {{> CreateClip}}
</template>


<template name="CreateClip">
    <div class="room-submit-clip">
        <div class="input-field">
            <textarea class="materialize-textarea clip-code"></textarea>
            <label for="textarea1">Add your code here</label>
        </div>
        <div class="input-field">
            <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="html">HTML</option>
                <option value="javascript">JavaScript</option>
                <option value="markup">Markup</option>
            </select>
            <label>Materialize Select</label>
        </div>
        {{#if hasNoName}}
            <div class="input-field">
                <input type="text" class="validate" id="username">
                <label for="first_name">Your name</label>
            </div>
        {{/if}}
        <button class="btn waves-effect waves-light" type="submit" name="action">Post</button>
    </div>

</template>